.product-grid-wrapper{
    width: 100%;
    .title {
        padding: 0px 12px;
    }
}
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    a{
        text-decoration: none;
        color: inherit;
        width: 232px;
    }
    img{
        max-width: 100%;
        align-self: center;
        max-height: 200px;
    }
}
.product-item {
    padding: 12px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    >*{
        margin-bottom: 12px;
    }
    >*:last-child{
        margin-bottom: 0px;
    }
    .price-wrapper {
        display: flex;
        justify-content: space-between;
    }
}
.product-item:hover{
    box-shadow: 0 0 1px 1px #ccc;
}