$fontRegular: 'Inter-regular';
$fontBold: 'Inter-bold';
$fontMedium: 'Inter-medium';
$fontSemibold: 'Inter-semibold';
$textOne: #222222;
$textTwo: #797979;
$textDisable: #ACACAC;
$line:#D0D0D0;
$line40:#E6E6E6;
$blue: #1768B2;
$hover:#F9F9F9;
$lg-origin: #3E5A82;
$red:#FF5F73;
$bg : #F1F1F1;


@import 'common';
@import 'table';
@import 'utils';
@import 'header';
@import 'search';
@import 'iatbutton';
@import 'detailPage';
@import 'productPage';
@import 'indexItem';
@import 'background';
@import 'field';
@import 'accountPage';
@import 'productGrid';
@import 'footer';
@import 'admin';
@import 'hoverWrapper';
@import 'toast';